[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
syllables = "*"
streamlit = "*"
syntok = "*"
bs4 = "*"
commonregex = "*"

[dev-packages]
pytest = "*"
pyhyphen = "*"
syllables = "*"

[requires]
python_version = "3.9"
